
body{
	height: 643px;
	background-image: url("../img/user_main.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.buttons{
	margin-top: 28%;
	margin-left: 8%;
}

.blocked{
	cursor: default;
	pointer-events: none;
}

#t{
	position: fixed;
	top: 0;
	left:0;
	font-size: 2em;
	text-align: center;
	width: 500px;
	height: 45px;
	background-color: black;
	color: white;
	opacity: 0.8;
	display: block;
}
